---
import Navbar from "../components/Navbar.astro";
import Cover from "../components/Cover.astro";
import Brands from "../components/Brands.astro";
import Services from "../components/Services.astro";
import Destinations from "../components/Destinations.astro";
import Discounted from "../components/Discounted.astro";
import Offers from "../components/Offers.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Discover the world's most captivating destinations with Travlog! Explore top travel spots, plan your next adventure, and immerse yourself in unforgettable experiences. Your passport to wanderlust awaits – embark on a journey of a lifetime with Travlog."
    />
    <meta
      name="keywords"
      content="travel, destinations, adventure, wanderlust, explore"
    />
    <meta name="author" content="Carlos Bolaño" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Travlog Landing Page</title>
  </head>
  <body>
    <main class="max-w-[1280px] mx-auto px-4 pt-[70px] min-h-screen relative">
      <div
        class="absolute top-48 size-96 bg-rosa rounded-full blur-3xl opacity-20 -z-10"
      >
      </div>
      <header
        class="bg-white/20 backdrop-blur-md fixed top-0 left-0 right-0 z-50"
      >
        <Navbar />
      </header>
      <Cover />
      <Brands />
      <Services />
      <Destinations />
      <Discounted />
      <Offers />
      <Newsletter />
      <Footer />
    </main>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
