---
import Navbar from "../components/Navbar.astro";
import Cover from "../components/Cover.astro";
import Brands from "../components/Brands.astro";
import Services from "../components/Services.astro";
import Destinations from "../components/Destinations.astro";
import Discounted from "../components/Discounted.astro";
import Offers from "../components/Offers.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Travlog Landing Page</title>
  </head>
  <body class="relative">
    <div
      class="absolute top-48 size-96 bg-rosa rounded-full blur-3xl opacity-20 -z-10"
    >
    </div>
    <main class="max-w-[1280px] mx-auto px-4 pt-[70px] min-h-screen">
      <header
        class="bg-white/20 backdrop-blur-md fixed top-0 left-0 right-0 z-50"
      >
        <Navbar />
      </header>
      <Cover />
      <Brands />
      <Services />
      <Destinations />
      <Discounted />
      <Offers />
      <Newsletter />
      <Footer />
    </main>
  </body>
</html>
