---
import Navbar from "../components/Navbar.astro";
import Cover from "../components/Cover.astro";
import Brands from "../components/Brands.astro";
import Services from "../components/Services.astro";
import Destinations from "../components/Destinations.astro";
import Discounted from "../components/Discounted.astro";
import Offers from "../components/Offers.astro";
import Newsletter from "../components/Newsletter.astro";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Travolg Landing Page</title>
  </head>
  <body class="relative">
    <svg
      class="absolute size-[500px] top-0 left-0"
      width="644"
      height="777"
      viewBox="0 0 644 777"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g opacity="0.5" filter="url(#filter0_f_832_818)">
        <circle cx="-106" cy="27" r="250" fill="#FF5722"></circle>
      </g>
      <defs>
        <filter
          id="filter0_f_832_818"
          x="-856"
          y="-723"
          width="1500"
          height="1500"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"></feBlend>
          <feGaussianBlur
            stdDeviation="250"
            result="effect1_foregroundBlur_832_818"></feGaussianBlur>
        </filter>
      </defs>
    </svg>
    <header
      class="bg-white/20 backdrop-blur-md fixed top-0 left-0 right-0 z-50"
    >
      <Navbar />
    </header>
    <main class="max-w-[1280px] mx-auto px-2 pt-[70px] min-h-screen">
      <Cover />
      <Brands />
      <Services />
      <Destinations />
      <Discounted />
      <Offers />
      <Newsletter />
    </main>

    <footer></footer>
  </body>
</html>
