---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<a
  class={`bg-purple py-3 px-6 capitalize  rounded-full font-medium flex gap-2 items-center justify-between  max-w-fit ${className}`}
  href={href}
>
  <slot name="icon-left" />
  <slot />
  <slot name="icon-right" />
</a>
