---
interface Props {
  className?: string;
  id: string;
}

const { className, id } = Astro.props;
---

<button id={id} class={`bg-purple rounded-full ${className}`}>
  <slot name="icon-left" />
  <slot />
  <slot name="icon-right" />
</button>
