---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<button class={`bg-purple rounded-full ${className}`}>
  <slot name="icon-left" />
  <slot />
  <slot name="icon-right" />
</button>
