<section
  class="flex flex-col lg:flex-row justify-between gap-4 my-28"
  id="traveling"
>
  <div class="relative lg:flex justify-end items-end hidden">
    <img
      loading="lazy"
      class="max-w-[550px] max-h-[550px] object-cover"
      src="/img-discounted.webp"
      alt="isablea Travlog"
    />

    <img
      loading="lazy"
      class="absolute bottom-0 left-0 -z-10"
      src="/bg-discounted.svg"
      alt="isablea Travlog"
    />
  </div>
  <article class="flex flex-col gap-12 justify-center items-center">
    <div class="max-w-[400px]">
      <span
        class="tracking-[4.6px;] uppercase text-lg text-rosa font-bold block text-center lg:text-left"
        >Travel Point</span
      >
      <h2
        class="text-4xl font-bold text-blackcolor mt-3 text-center lg:text-left"
      >
        We helping you find your dream location
      </h2>
      <p class="text-lg text-graycolor mt-8 text-center lg:text-left">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC.
      </p>
    </div>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
      <div
        class="p-8 rounded-3xl border flex flex-col justify-center items-center gap-4 bg-white shadow-sm"
      >
        <span class="font-bold text-3xl text-orange font-poppins">500+</span>
        <span class="text-lg text-blackcolor capitalize">Holiday Package</span>
      </div>
      <div
        class="p-8 rounded-3xl border flex flex-col justify-center items-center gap-4 bg-white shadow-sm"
      >
        <span class="font-bold text-3xl text-orange font-poppins">100</span>
        <span class="text-lg text-blackcolor capitalize">Luxury Hotel</span>
      </div>
      <div
        class="p-8 rounded-3xl border flex flex-col justify-center items-center gap-4 bg-white shadow-sm"
      >
        <span class="font-bold text-3xl text-orange font-poppins">7</span>
        <span class="text-lg text-blackcolor capitalize">Premium Airlines</span>
      </div>
      <div
        class="p-8 rounded-3xl border flex flex-col justify-center items-center gap-4 bg-white shadow-sm"
      >
        <span class="font-bold text-3xl text-orange font-poppins">2k+</span>
        <span class="text-lg text-blackcolor capitalize">Happy Customer</span>
      </div>
    </article>
  </article>
</section>
