---
import LinkButton from "./LinkButton.astro";
---

<nav class="flex justify-between items-center p-4 max-w-[1280px] mx-auto z-50">
  <img
    width="141"
    height="40"
    loading="lazy"
    class="max-w-[141px] min-w-[100px] min-h-full"
    src="/logo.svg"
    alt="Travlog Logo"
  />
  <ul class="md:flex justify-between items-center gap-x-5 nav-list hidden">
    <li>
      <a
        title="Home"
        class="py-2 px-2 font-semibold text-blackcolor"
        href="#"
        aria-label="Home tab">Home</a
      >
    </li>
    <li>
      <a
        title="Discover"
        class="py-2 px-2 font-semibold text-graycolor/50 hover:text-blackcolor transition-colors duration-500"
        href="#"
        aria-label="discover tab">Discover</a
      >
    </li>
    <li>
      <a
        title="Social Details"
        class="py-2 px-2 font-semibold text-graycolor/50 hover:text-blackcolor transition-colors duration-500"
        href="#"
        aria-label="Social Details tab">Social Details</a
      >
    </li>
    <li>
      <a
        title="Special Deals"
        class="py-2 px-2 font-semibold text-graycolor/50 hover:text-blackcolor transition-colors duration-500"
        href="#"
        aria-label="Special Deals tab">Special Deals</a
      >
    </li>
    <li>
      <a
        title="Contact"
        class="py-2 px-2 font-semibold text-graycolor/50 hover:text-blackcolor transition-colors duration-500"
        href="#"
        aria-label="contact tab">Contact</a
      >
    </li>
    <div class="hidden lg:flex items-center gap-1">
      <LinkButton href="#" className="bg-white text-blackcolor border">
        Log in
      </LinkButton>
      <LinkButton href="#" className="text-whitecolor">Sing up</LinkButton>
    </div>
  </ul>
  <button title="Menu burger" class="md:hidden" id="menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-menu-2"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="#2c3e50"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
  </button>
</nav>
