---
import NewsletterForm from "./NewsletterForm.astro";
---

<section class="bg-[#FACD4930] my-28 py-32 px-16 rounded-3xl shadow-sm">
  <article class="flex flex-col gap-4 items-center justify-center">
    <span
      class="tracking-[4.6px;] uppercase text-lg text-rosa font-bold block text-center md:text-left"
      >subscribe to our newsletter</span
    >
    <h2
      class="text-3xl md:text-5xl font-bold text-blackcolor max-w-[800px] font-poppins text-center"
    >
      Prepare yourself & let’s explore the beauty of the world
    </h2>
    <NewsletterForm />
  </article>
</section>
