---
interface Props {
  className: string;
}

const { className } = Astro.props;
---

<span
  class={`bg-white py-3 px-6 flex justify-between items-center text-blackColor font-bold text-lg rounded-full gap-2 ${className}`}
>
  <slot name="icon-left" />
  <slot />
  <slot name="icon-right" />
</span>

<style>
  span {
    box-shadow:
      0px 0px 52px 0px rgba(0, 0, 0, 0.1),
      0px 0px 50px 0px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
</style>
