---
import OffersBadge from "./OffersBadge.astro";
import OffersCard from "./OffersCard.astro";
---

<section
  class="my-28 flex flex-col-reverse gap-36 md:gap-4 justify-between items-center md:flex-row"
>
  <article
    class="flex flex-col items-center md:items-start justify-between gap-8"
  >
    <div class="">
      <span
        class="tracking-[4.6px;] uppercase text-lg text-rosa font-bold text-center md:text-left block"
        >Key features</span
      >
      <h2
        class="text-4xl font-bold text-blackcolor mt-3 text-center md:text-left"
      >
        We offer best services
      </h2>
      <p
        class="text-lg text-graycolor mt-6 max-w-[500px] text-pretty text-center md:text-left"
      >
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC.
      </p>
    </div>
    <div class="max-w-[420px] flex flex-col gap-4">
      <OffersCard
        title="We offer best services"
        description="It has roots in a piece of classical"
        bg="bg-orange"
      >
        <svg
          slot="svg"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7 20.6356C7 11.4358 14.6878 4 23.9868 4C33.3122 4 41 11.4358 41 20.6356C41 25.2714 39.314 29.5752 36.539 33.2232C33.4776 37.247 29.7044 40.753 25.457 43.5048C24.485 44.1408 23.6078 44.1888 22.5408 43.5048C18.2695 40.753 14.4962 37.247 11.461 33.2232C8.68396 29.5752 7 25.2714 7 20.6356ZM18.3885 21.1536C18.3885 24.2354 20.9034 26.6594 23.9868 26.6594C27.0724 26.6594 29.6116 24.2354 29.6116 21.1536C29.6116 18.0956 27.0724 15.5537 23.9868 15.5537C20.9034 15.5537 18.3885 18.0956 18.3885 21.1536Z"
            fill="white"></path>
        </svg>
      </OffersCard>
      <OffersCard
        title="We offer best services"
        description="It has roots in a piece of classical"
        bg="bg-[#FACD49]"
      >
        <svg
          slot="svg"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M32.8218 5.53724L32.8238 7.03648C38.333 7.46826 41.9724 11.2224 41.9782 16.9795L42 33.831C42.0078 40.108 38.0644 43.97 31.7436 43.98L16.3038 44C10.0224 44.008 6.02963 40.054 6.02173 33.759L6.00001 17.1054C5.99211 11.3103 9.50305 7.56622 15.0123 7.06048L15.0104 5.56122C15.0084 4.68166 15.66 4.02 16.5289 4.02C17.3977 4.018 18.0494 4.67766 18.0513 5.55722L18.0533 6.95652L29.7828 6.94054L29.7808 5.54124C29.7788 4.66168 30.4304 4.002 31.2994 4C32.1484 3.998 32.8198 4.65768 32.8218 5.53724ZM9.04295 17.7231L38.9392 17.6832V16.9835C38.8544 12.6857 36.698 10.4308 32.8276 10.095L32.8296 11.6342C32.8296 12.4938 32.1602 13.1754 31.3112 13.1754C30.4424 13.1774 29.7886 12.4977 29.7886 11.6382L29.7868 10.019L18.0573 10.035L18.0592 11.6522C18.0592 12.5137 17.4096 13.1934 16.5407 13.1934C15.6719 13.1954 15.0183 12.5177 15.0183 11.6562L15.0163 10.1169C11.1657 10.5027 9.03505 12.7656 9.04097 17.1014L9.04295 17.7231ZM30.4798 26.8086V26.8306C30.4996 27.7502 31.25 28.4478 32.1602 28.4278C33.0488 28.4058 33.7578 27.6442 33.738 26.7246C33.6966 25.845 32.9836 25.1274 32.097 25.1294C31.1888 25.1494 30.4778 25.889 30.4798 26.8086ZM32.1108 35.784C31.2026 35.764 30.47 35.0064 30.468 34.087C30.4482 33.1674 31.1768 32.4058 32.0852 32.3838H32.105C33.033 32.3838 33.7854 33.1414 33.7854 34.081C33.7874 35.0204 33.037 35.782 32.1108 35.784ZM22.3442 26.8406C22.3838 27.7602 23.136 28.4778 24.0444 28.4378C24.933 28.3958 25.642 27.6362 25.6024 26.7166C25.5806 25.817 24.85 25.1174 23.9614 25.1194C23.0532 25.1594 22.3422 25.921 22.3442 26.8406ZM24.0524 35.6942C23.144 35.7342 22.3936 35.0164 22.3522 34.097C22.3522 33.1774 23.061 32.4178 23.9694 32.3758C24.858 32.3738 25.5906 33.0734 25.6104 33.971C25.6518 34.8926 24.941 35.6522 24.0524 35.6942ZM14.2087 26.9106C14.2482 27.83 15.0005 28.5498 15.9088 28.5078C16.7974 28.4678 17.5063 27.7062 17.4649 26.7866C17.4451 25.887 16.7145 25.1874 15.8239 25.1894C14.9156 25.2294 14.2067 25.991 14.2087 26.9106ZM15.9167 35.7042C15.0084 35.7462 14.258 35.0264 14.2166 34.107C14.2146 33.1874 14.9255 32.4258 15.8338 32.3858C16.7224 32.3838 17.455 33.0834 17.4747 33.983C17.5162 34.9026 16.8073 35.6642 15.9167 35.7042Z"
            fill="white"></path>
        </svg>
      </OffersCard>
      <OffersCard
        title="We offer best services"
        description="It has roots in a piece of classical"
        bg="bg-rosa"
      >
        <svg
          slot="svg"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.5744 21.078C43.3036 21.3412 42.9362 21.4914 42.5494 21.4914C41.118 21.4914 39.9574 22.619 39.9574 23.9906C39.9574 25.3716 41.1044 26.4934 42.5222 26.5086C43.321 26.516 44 27.0572 44 27.8332V32.653C44 36.7098 40.615 40 36.4372 40H30.1316C29.4796 40 28.9516 39.487 28.9516 38.8538V34.795C28.9516 34.0058 28.3134 33.3858 27.501 33.3858C26.708 33.3858 26.0502 34.0058 26.0502 34.795V38.8538C26.0502 39.487 25.5222 40 24.8724 40H11.5629C7.40426 40 4 36.7116 4 32.653V27.8332C4 27.0572 4.67892 26.516 5.47776 26.5086C6.89748 26.4934 8.04256 25.3716 8.04256 23.9906C8.04256 22.6564 6.9207 21.6418 5.45068 21.6418C5.06382 21.6418 4.69632 21.4914 4.42554 21.2284C4.15474 20.9654 4 20.6084 4 20.2326V15.3658C4 11.3146 7.412 8 11.5822 8H24.8724C25.5222 8 26.0502 8.51298 26.0502 9.14622V13.9565C26.0502 14.727 26.708 15.3658 27.501 15.3658C28.3134 15.3658 28.9516 14.727 28.9516 13.9565V9.14622C28.9516 8.51298 29.4796 8 30.1316 8H36.4372C40.615 8 44 11.2883 44 15.347V20.0822C44 20.458 43.8452 20.815 43.5744 21.078ZM27.501 29.7404C28.3134 29.7404 28.9516 29.1016 28.9516 28.3312V20.815C28.9516 20.0446 28.3134 19.4058 27.501 19.4058C26.708 19.4058 26.0502 20.0446 26.0502 20.815V28.3312C26.0502 29.1016 26.708 29.7404 27.501 29.7404Z"
            fill="white"></path>
        </svg>
      </OffersCard>
    </div>
  </article>
  <article>
    <div class="relative max-w-max">
      <img
        width="443"
        height="665"
        loading="lazy"
        class="mr-28"
        src="/img-offers.webp"
        alt="svg-cute"
      />
      <img
        loading="lazy"
        class="absolute top-0 right-0 -z-10"
        src="/bg-offers.svg"
        alt="svg cute"
      />
      <img
        width="399"
        height="544"
        loading="lazy"
        class="absolute -bottom-28 right-0"
        src="/img-offers2.webp"
        alt="foto de hombre surfeando"
      />
      <OffersBadge className="absolute top-28 right-5">
        <svg
          slot="icon-left"
          width="30"
          height="30"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="map.11 1">
            <path
              id="Vector"
              d="M15.2475 12.4805C14.3141 12.4805 13.5808 13.2305 13.5808 14.1471C13.5808 15.0638 14.3308 15.8138 15.2475 15.8138C16.1641 15.8138 16.9141 15.0638 16.9141 14.1471C16.9141 13.2305 16.1641 12.4805 15.2475 12.4805Z"
              fill="#FF5722"></path>
            <path
              id="Vector_2"
              d="M35.7666 8.39992C34.3666 5.14992 31.2833 3.33325 26.9833 3.33325H13.0166C7.66659 3.33325 3.33325 7.66658 3.33325 13.0166V26.9833C3.33325 31.2833 5.14992 34.3666 8.39992 35.7666C8.71659 35.8999 9.08325 35.8166 9.31659 35.5833L35.5833 9.31659C35.8333 9.06659 35.9166 8.69992 35.7666 8.39992ZM17.5499 20.3999C16.8999 21.0333 16.0499 21.3333 15.1999 21.3333C14.3499 21.3333 13.4999 21.0166 12.8499 20.3999C11.1499 18.7999 9.28325 16.2499 9.99992 13.2166C10.6333 10.4666 13.0666 9.23325 15.1999 9.23325C17.3333 9.23325 19.7666 10.4666 20.3999 13.2333C21.0999 16.2499 19.2333 18.7999 17.5499 20.3999Z"
              fill="#FF5722"></path>
            <path
              id="Vector_3"
              d="M32.4482 34.2159C32.8148 34.5826 32.7648 35.1826 32.3148 35.4326C30.8482 36.2492 29.0648 36.6659 26.9815 36.6659H13.0149C12.5315 36.6659 12.3315 36.0992 12.6649 35.7659L22.7315 25.6992C23.0648 25.3659 23.5815 25.3659 23.9148 25.6992L32.4482 34.2159Z"
              fill="#FF5722"></path>
            <path
              id="Vector_4"
              d="M36.6696 13.0149V26.9815C36.6696 29.0648 36.2529 30.8648 35.4363 32.3148C35.1863 32.7648 34.5863 32.7982 34.2196 32.4482L25.6863 23.9148C25.3529 23.5815 25.3529 23.0648 25.6863 22.7315L35.7529 12.6649C36.1029 12.3315 36.6696 12.5315 36.6696 13.0149Z"
              fill="#FF5722"></path>
          </g>
        </svg>
        Paradise on Earth
      </OffersBadge>
    </div>
  </article>
</section>
