---
interface Props {
  imgUrl: string;
  title: string;
  description: string;
}

const { imgUrl, title, description } = Astro.props;
---

<article
  class="flex flex-col justify-center items-center gap-6 bg-white py-20 px-14 rounded-3xl"
>
  <img class="mb-8" src={imgUrl} alt="icono" />

  <h3 class="text-2xl font-semibold text-blackcolor">{title}</h3>
  <p class="text-lg text-graycolor text-center">
    {description}
  </p>
</article>

<style>
  article {
    box-shadow:
      0px 0px 52px 0px rgba(0, 0, 0, 0.1),
      0px 0px 50px 0px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
</style>
